@import url(../fonts/bootstrap/glyphicons-halflings-regular.eot);
@import url(../fonts/bootstrap/glyphicons-halflings-regular.svg);
@import url(../fonts/bootstrap/glyphicons-halflings-regular.ttf);
@import url(../fonts/bootstrap/glyphicons-halflings-regular.woff);
@import url(../fonts/bootstrap/glyphicons-halflings-regular.woff2);
@import url(https://fonts.googleapis.com/css?family=Baloo+Tamma);
@import '../../bootstrap';
@import 'mixins';
body {
    font-family: 'Baloo Tamma', 'Arial', sans-serif;
    padding-bottom: 1em;
}

h1 {
    text-align: center;
    font-size: 65px;
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 2;
}

#title {
    margin-bottom: 1em;
    overflow: hidden;
}

input {
    width: 90%!important;
}

#form {
    text-align: center;
    h3 {
        background-color: #A11414;
        color: #fff;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        white-space: normal;
        margin-bottom: 0px;
        span {
            cursor: pointer;
            font-size: 0.5em;
        }
    }
    button {
        margin-top: 1em;
        background-color: #4C4CFF;
        color: white;
        @include mobile {
            width: 100%;
        }
    }
}

.no-pad {
    padding: 0px!important;
}

.wine-glass {
    background: url(../198392.svg);
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    top: 20px;
}

.rtecenter {
    text-align: center;
}